<!DOCTYPE html>
<html lang="en">
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DoAnWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/js/site.js" asp-append-version="true" />
    <link rel="stylesheet" href="~/css//Phone.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css//Footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DoAnWeb.styles.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
    @RenderSection("Scripts", required: false)

</head>


<body>
    <div class="banner-top d-none d-md-block" style="background: #000000">
        <div class="container">
            <img src="~/images/banner_top.jpg" alt="Banner-top" height="47" width="1325" />
        </div>
    </div>
    <header>
       @Html.Partial("Header")  
    </header>
    @{
        var pageType = ViewData["PageType"] as string ?? "home";
    }
    @if (pageType == "home")
    {
        <div class="banner-body text-center">
            <img src="~/images/slider_1.jpg"
                 alt="Slider"
                 class="img-fluid d-block "
                 style="width:1285.6; height:auto;" />
        </div>
    }
    @RenderBody()



    <footer>
        @Html.Partial("Footer")
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>


</html>
